<div class="hero-section position-relative text-center">
<img src="assets/images/spacejoy-RqO6kwm4tZY-unsplash.jpg" class="imgHomepage" alt="Homepage">
<h2 class="hero-text">Crafting Spaces You'll Love to Live In.</h2>
</div>

<section class="container py-5">
  <p class="lead text-center" style="padding-bottom: 20px;">Welcome to Hearth & Home — where luxury meets timeless elegance.
  Our curated collection brings you distinguished furnishings and décor pieces crafted by renowned European designers. To better serve our discerning clientele, we are delighted to offer complimentary shipping from the UAE to Saudi Arabia, Egypt, and Oman (excluding customs duties and taxes). 
  Indulge in the art of refined living. Explore our exclusive collections online and receive a personalized design consultation, tailored by our experts to transform your home into a statement of sophistication and modern grace.</p>
  <div class="row align-items-center mb-5"> 
    <div class="col-md-6">
      <img src="assets/images/peyton-rajewski-mfWUQfMTqe8-unsplash.jpg" class="img-fluid rounded shadow" alt="Homepage">
    </div>
  </div>
  <p class="subTitleImage">Discover stunning pieces of furniture and home decor by designers from around the globe</p>
</section>

<section class="container py-5">
  <h5 class="lead text-center" style="margin-top: -60px; padding-bottom: 40px;">Experience the warmth of Hearth & Home at our exclusive collection, where timeless elegance meets modern living. We bring you a curated selection of luxurious furniture and décor that transforms every corner of your home into a sanctuary of style and comfort.
    Explore our most coveted designs — from Classic European sophistication and Modern Contemporary to the calming essence of Japandi minimalism.
    Whether it's your living room, bedroom, dining area, study, or outdoor retreat, Hearth & Home offers premium furniture, lighting, rugs, and accents to create spaces that truly reflect your refined taste.</h5>
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <img src="assets/images/khloe-arledge-8Rz_RIyp5FM-unsplash.jpg" class="img-fluid rounded shadow" alt="Homepage">
      </div>
    </div>
    <p class="subTitleImageCaption">High-class design and finest quality at comfortable prices</p>
  </section>

<h5 class="lead text-center">Explore our catalogue and fill out the contact form for more details. </h5>
<a type="button" class="btn btn-outline-dark mt-3" style="background-color: #003049; color:white; border:1spx white;" routerLink="/catalogue" routerLinkActive="active">Catalogue &gt;</a>
