<div class="container-body">
    <div class="container-head">
        <h1>Catalogue</h1>
        <p>Shop all rooms and designs</p>
        <hr class="white-line"/>
        <h3>Rooms</h3>
    </div>    
<div class="categoryRooms">
    <div class="row">
        <div class="col-sm-2">
          <div class="card custom-card-living">
            <div class="card-body">
            <img src="assets/images/spacejoy-c0JoR_-2x3E-unsplash.jpg" alt="LivingRoom" class="imgCatalogue">
            <h6 class="headRooms">Living Room</h6>
            <p class="captCata">“Where comfort meets style, and memories are made.”</p>
            <a class="btn btn-primary btnBrowse" [routerLink]="['/rooms' , 'Living Room']">Browse All</a>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="card custom-card-bedroom">
            <div class="card-body">
              <img src="assets/images/spacejoy-XM-miHibz64-unsplash.jpg" alt="BedRoom" class="imgCatalogue" style="height:158px">
              <h6 class="headRooms">Bed Room</h6>
              <p class="captCata">“A peaceful retreat, where dreams take flight.”</p>
              <a class="btn btn-primary btnBrowse" [routerLink]="['/rooms' , 'Bedroom']">Browse All</a>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
            <div class="card custom-card-dining">
              <div class="card-body">
                <img src="assets/images/spacejoy-GQQyH0yNqLk-unsplash.jpg" alt="DiningRoom" class="imgCatalogue" style="height:158px">
                <h6 class="headRooms">Dining Room</h6>
                <p class="captCata">“Gather, savor, and make every meal a memory.”</p>
                <a class="btn btn-primary btnBrowse" [routerLink]="['/rooms' , 'Dining Room']">Browse All</a>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card custom-card-office">
              <div class="card-body">
                <img src="assets/images/nastuh-abootalebi-eHD8Y1Znfpk-unsplash.jpg" alt="Office" class="imgCatalogue" style="height:158px">
                <h6 class="headRooms">Office</h6>
                <p class="captCata">“Where ideas grow and productivity thrives.”</p>
                <a class="btn btn-primary btnBrowse" [routerLink]="['/rooms' , 'Office']">Browse All</a>
              </div>
            </div>
          </div>
      </div>
</div>

</div>

