<!--Footer-->
<div class="sectionFooter">
    <h6 class="footerOne">
      Sign up to our newsletter for inspiration, exclusive offers & more - By subscribing, I accept the Privacy Policy
    </h6>
    <input type="text" id="emailSubscribe" placeholder="Your e-mail">
    <button type="submit">Subscribe</button>
</div>

<div class="containerFooter">
    <br/>
    <hr class="white-line"/>
    <p style="text-align: center;">+971 (9) 362-6922 - INFO&#64;HEARTHHOME.COM</p>
    <hr class="white-line"/>
       
  <div class="catalogue-container">
    <div class="catalogueListMain">
      <p>CATALOGUE</p>
      <ul class="catalogueList">
        <li><a href="/">New</a></li>
        <li><a href="/">In Stock</a></li>
        <li><a href="/">Products</a></li>
        <li><a href="/">Rooms</a></li>
        <li><a href="/">Styles</a></li>
        <li><a href="/">Collections</a></li>
      </ul>
    </div>
    <div class="vertical-line-cataloge"></div>

    <div class="orderListMain">
        <p style="margin-left: 30px;">HOW TO ORDER</p>
        <ul class="orderList">
          <li><a href="/">New</a></li>
          <li><a href="/">In Stock</a></li>
          <li><a href="/">Products</a></li>
          <li><a href="/">Rooms</a></li>
          <li><a href="/">Styles</a></li>
          <li><a href="/">Collections</a></li>
        </ul>
      </div>
      <div class="vertical-line-order"></div>
      <div class="aboutListMain">
        <p style="margin-left: 30px;">ABOUT</p>
        <ul class="aboutList">
          <li><a href="/">About Company</a></li>
        </ul>
      </div>
      <div class="vertical-line-order"></div>

      <div class="aboutListMain">
        <p style="margin-left: 30px;">CONTACTS</p>
      </div>
  </div>  
</div>

  
<div class="containerLastFooter">
    <br/>
    <hr class="white-line"/>  
    <p class="lastPara">Privacy Policy - Sitemap</p>
</div>